<html>
<head>
	<%= stylesheet_link_tag "application", media:"all" %>
</head>
<body>
Please. I'm in index#main. Wondering what yield would do here. <br/>
<%= link_to "Login here" , login_path %><br/>
<%= link_to "Sign up" , signup_path %>
</body>
</html>